.header {
    box-sizing: border-box;
    min-height: 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    padding-bottom: 0px;
    max-width: 1500px;
    margin: 0 auto;
}

.header h1 {
    grid-column: 2 / span 3;
    font-family: "Rock Salt", cursive, sans-serif;
    text-align: center;
    padding: 20px;
    color: var(--white);
    font-size: 1.5em;
    margin: 0;
}

.header button {
    grid-column: 5;
    align-self: center;
    justify-self: flex-end;
    background-color: var(--light-green);
    border: none;
    color: var(--white);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.header button:hover {
    background-color: var(--dark-green);
}

@media screen and (max-width: 825px) {
    .header h1 {
        font-size: 1.4em;
        line-height: 2em;
    }

    .header button {
        font-size: 14px;
    }
}