.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--light-green);
    color: var(--white);
}

.navbar-logo {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.navbar-logo span {
    padding-left: 10px;
    color: var(--white);
    font-size: 1.25em;
    font-weight: 100;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: var(--white);
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .navbar-logo img {
        height: 75%;
    }

    .navbar-links li {
        margin-left: 10px;
    }
}