.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 20px;
    max-width: 1500px;
    margin: 0 auto;
    border-top: 2px solid var(--white);
}

.column {
    margin: 0 10px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 8px;
}

.column h2 {
    font-family: "Rock Salt", cursive, sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: var(--grey);
}

.task {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid var(--grey);
    margin-bottom: 10px;
}

.task input[type="checkbox"] {
    margin-right: 15px;
}

.task-details {
    flex: 1;
}

.task-details h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: var(--grey);
}

.task-details p {
    margin: 5px 0;
    color: var(--light-grey);
}

.task-details .info {
    font-size: 14px;
    color: var(--light-light-grey);
}

.task-details .info span {
    display: block;
}