:root {
    --white: #FFFFFF;
    --light-light-grey: #999999;
    --light-grey: #666666;
    --grey: #2C2C2C;
    --light-green: #008080;
    --dark-green: #005f5f;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/blackboard-image.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}